@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --pink-400: hsl(0, 36%, 70%);
    --red-500: hsl(0, 93%, 68%);

    --gray-900: hsl(0, 6%, 24%);

    --gradient-light: hsl(0, 100%, 98%);
    --gradient-pink: hsl(0, 74%, 74%);

    --gradient-color1: hsl(0, 80%, 86%);

    --font-destaque: 'Josefin Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: var(--font-destaque);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 38rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.logo{
    margin: 3rem;
}

.logo img{
    width: 10rem;
}

.img{
    height: 25rem;
    width: 100%;
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

article{
    background-color: var(--gradient-light);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h1{
    color: var(--gray-900);
    width: 30rem;
    margin: 7rem 0rem 3rem 0rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

article span{
    color: var(--pink-400);
    font-size: 4rem;
    font-weight: 300;
}

article p{
    color: var(--pink-400);
    line-height: 2.5rem;
    margin: 0rem 2rem;
}

.email-box{
    border: .1rem solid var(--pink-400);
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    max-width: 40rem;
}

.img-btn{
    border: none;
    outline: none;
    cursor: pointer;
    width: 24%;
    margin-left: 1.5rem;
    padding: 1.4rem 3.5rem;
    border-radius: 4rem;
    background: linear-gradient(135deg, var(--gradient-color1), var(--pink-400));
    box-shadow: 0rem .6rem 1.2rem var(--pink-400);
    transition: .5s;
}

.img-btn:hover{
    opacity: .6;
}

.email{
    background-color: var(--gradient-light);
    width: 80%;
    border: none;
    outline: none;
    border-radius: 4rem;
    padding: 1.2rem 2rem;
    font-size: 600;
}

.email::placeholder{
    color: var(--pink-400);
    opacity: .6;
}

.error-icon, .error{
    display: none;
}

.error{
    margin: .5rem 0rem 0rem 2rem;
    font-weight: 400;
    color: var(--red-500);
}

footer{
    background-color: var(--gradient-light);
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
}